:root {
    --green: #84A59D;
    --pink: #F5CAC3;
    --white: #F7EDE2;
    --lighter-white: #f9f5f1;
    --light-green: #BEC9C0;
    --light-pink: #F6DCD3;
    --light-yellow: #F7D5A1;
    --yellow: #F6BD60;
    --dark: #BB9590;
    --lighter-dark: #d6bebb;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* flex box attributes for whole page  */
.flex-container {
    display: flex;
    width: 100%;
    min-height: 460px
}

.left,
.right {
    width: 100%;
}

/* colors for left-right sections */
.links {
    background-color:var(--lighter-dark);
}

.top .left {
    background-color: var(--light-pink);
}

.middle .right {
    background-color: var(--light-green);
}

.bottom .left {
    background-color: var(--light-yellow);
}

/* header section  */
h1{
    text-align: center;
    font-size: 3em;
    letter-spacing: 3px;
    margin: 20px auto 30px auto;
}

img {
    display: block;
    width: 90%;
    margin: 0px auto;
    border: solid 3px var(--white);
}

nav {
    display: grid;
    row-gap: 50px;
    justify-content: center;
    margin-top: 100px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 3em;
}

/* main section  */
#about-me {
    height: 500px;
    background-color: var(--white);
    margin-top: -27px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.middle {
    flex-direction: row-reverse;
}

/* footer section */
footer .right {
    background-color: var(--lighter-dark);
}

h2 {
    text-align: center;
    font-size: 2em;
}

footer {
    flex-direction: row-reverse;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 3em;
    display: grid;
    row-gap: 50px;
    justify-content: center;
    margin-top: 100px;
}


@media screen and (min-width: 1140px) {
    img {width: 510px}
}

@media  screen and (max-width: 768px) {
    .flex-container {display: block;}
    .block {min-height: 400px;}
    img {min-width: 381px; max-width: 381px;}
    .links {display: flex; flex-direction: column; justify-content: center;}
    nav a {font-size: 2.2em; line-height: 3em;}
    .whitespace {background-color: var(--white);}

    /* top/bottom margins zero */
    #about-me h2 {margin-bottom: 0;}
    h1 {margin: 0, auto;}
    nav {margin-top: 0; row-gap: 0;}
    #about-me p, section p {margin: 25px 0; padding-top: 20px;}
    .links, .block {margin-bottom: -27px;}
    footer .whitespace {margin-top: -100px;}
    #cover-image {margin-top: -20px; margin-bottom: 0px;}
    h2 {padding-top: 10px;}
}