/* color palette */
:root {
   --yellow: #42868A;
   --dark: #73498a;
   --light: #f5f3f6;
   --header: 'Abril Fatface', cursive;
   --body: 'Poppins', sans-serif;
}

body {
    background-color: var(--light);
    font-family: var(--body);
}

.navbar{
    background-color: var(--dark);
    color: white;
}

#headshot{
    border: 2px solid var(--yellow);
    border-radius: 3px;
}
h1,
h2,
h3{
    font-size: 2.5em;
    font-family: var(--header);
}

.carousel-item img{
    border: 2px solid var(--yellow);
    border-radius: 3px;
}

span{
    color: white;
    font-size: 1.5em;
}

#contact-info{
    background-color: var(--dark);
    font-size: 1.2em;
    text-align: center;
    margin-top: 11px;
    color: white;
}

#contact-info h2{
    font-size: 1em;
}
/* scrollbar
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #c4adaa;
}

::-webkit-scrollbar-thumb {
    background-color: #a89897;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #928988;
} */
